*{
    box-sizing:border-box;
}
/* Container box to hold contact form */
.container {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 40%;
    padding-right: 40%;
}

/* Styles the input area, text of input*/
input[type= text], select, textarea{
    width: 70%; /* text areas occupy full width of contact page*/
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px; /* adds space on top for label */
    margin-bottom: 20px; /*  adds space on bottom for next text-area input */
}

/* Style the submit button  */
input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}